EJERCICIO 1 CORRESPONDIENTE CON LA KATA 5

In [1]:
#CALCULAR LA DISTANCIA ENTRE PLANETAS.
tierra =149597870 #km
jupiter =778547200 #km

In [2]:
#realizando el calculo
resultado = jupiter - tierra
print(resultado)

628949330

In [6]:
#convertir a millas
millas = resultado * 0.62
print('El resultado es millas es:'+ str(millas))

El resultado es millas es:389948584.6

EJERCICIO 2 KATA 5

In [9]:
#
sol = 10000
mercurio = input('ingrese distancia para mercurio')
marte = input('ingrese distancia para marte')

In [11]:
# convertir cadenas
mercurio = int(mercurio)
marte = int(marte)
print(mercurio)
print(marte)

500
1000

In [15]:
#realizar calculo

distancia = mercurio - marte


# valor absoluto
print (abs(distancia))

500

In [17]:
# convertir de km a millas
final = distancia * 0.621
print (abs(final))

310.5